<!DOCTYPE html>
<html lang=”pl”>
<head>
    <link rel="stylesheet" type="text/css" href="../static/projekt.css">
    <meta charset=”utf-8”>
<title>
    Wszystko o wielomianach
</title>
</head>

<body>
    <header><a href="home">Wszystko o wielomianach</a></header>

    <div>
        <nav>
            <ul>
                <li><a href="about">O projekcie</a></li>
                <li><a href="authors">O autorach</a></li>
                <li><a href="theory">Wielomiany</a>
                <ul>
                    <li><a href="theory">Teoria</a></li>
                    <li><a href="examples">Zadania</a></li>
                </ul>
                </li>
                <li><a href="plots">Generator</a></li>
            </ul>
        </nav>
    </div>
<div class="intro">
    <h1>
        O projekcie
    </h1>
    <p1>
        Strona "Wszystko o wielomianach" powstała w ramach projektu realizowangeo na przedmiot Technologie Informacyjne.
        Projekt miał na celu poszerzyć umiejętności tworzenia stron internetowych w języku HTML, CSS oraz Python.
        Celem strony jest zachęcić i zapewnić pomoc w przygotowaniach do egzaminu maturalnego, a także sprawdzianów z matematyki.
        Tematem są wilelomiany, ponieważ jest to bardzo ciekawy dział matematyki. Na stronie dostępny jest cały niezbędny materiał
        potrzebny do kompletnego opanowania umiejętności związanych z wielomianami.
    </p1>



</body>