<!DOCTYPE html>
<html lang=”pl”>
<head>
    <link rel="stylesheet" type="text/css" href="../static/projekt.css">
<meta charset=”utf-8”>
<title>
    Wszystko o wielomianach
</title>
</head>

<body>
    <header><a href="home">Wszystko o wielomianach</a></header>

    <div>
        <nav>
            <ul>
                <li><a href="about">O projekcie</a></li>
                <li><a href="authors">O autorach</a></li>
                <li><a href="theory">Wielomiany</a>
                <ul>
                    <li><a href="theory">Teoria</a>
                    <li><a href="examples">Zadania</a></li>

                </ul>
                </li>
                <li><a href="plots">Generator</a></li>
            </ul>
        </nav>
    </div>
<div class="intro">
    <h1>
        O autorkach
    </h1>
    <p1>
        Autorkami projektu są trzy studentki pierwszego roku Matematyki Stosowanej na Politechnice Wrocławskiej.
        <ul class="my-type">
            <li>Zuzanna Sosnowska, ekspert od Pythona, odpowiedzialna za prawidłowe funkcjonowanie strony.</li>
            <li>Joanna Pietrzak, teoretyk tego projektu, odpowiedzialna za stronę merytoryczną oraz ciekawe zadania.</li>
            <li>Julia Krempińska, główny grafik, odpowiedzialna za szatę graficzną strony.</li>
        </ul>
    </p1>
    

</body>