<!DOCTYPE html>
<html lang=”pl”>
<head>
    <link rel="stylesheet" type="text/css" href="../static/projekt.css">
    <meta charset=”utf-8”>
<title>
    Wszystko o wielomianach
</title>
</head>

<body>
    <header><a href="home">Wszystko o wielomianach</a></header>

    <div>
        <nav>
            <ul>
                <li><a href="about">O projekcie</a></li>
                <li><a href="authors">O autorach</a></li>
                <li><a href="theory">Wielomiany</a>
                <ul>
                    <li><a href="theory">Teoria</a></li>
                    <li><a href="examples">Zadania</a></li>
                </ul>
                </li>
                <li><a href="plots">Generator</a></li>
            </ul>
        </nav>
    </div>

    <h2> Mnożenie wielomianów</h2>
    <h3>Zadanie 1.</h3>
    <p> Wyznacz iloczyn. Podaj współczynnik przy najwyższej potędze oraz wyraz wolny otrzymanego wielomianu.</p>
    <ul>
        <li>a) (6 – 3𝑥<sup>2</sup> – 2𝑥<sup>3</sup>)(𝑥<sup>3</sup> – 4)</li>
        <li>b) (2𝑥<sup>3</sup> + <sup>1</sup>/<sub>2</sub>𝑥 + 1)(𝑥<sup>2</sup> − 𝑥 − <sup>1</sup>/<sub>4</sub>)</li>
    </ul>

    <h3>Zadanie 2.</h3>
    <p>Dla jakich wartości parametrów m i n wielomianu u i w mają te same współczynniki przy odpowiednich potęgach?</p>
    <ul>
        <li>a) u(x) = (x<sup>2</sup> − 3x + 1)(x<sup>2</sup> + 4x), w(x) = x<sup>4</sup> + mx<sup>3</sup> + nx<sup>2</sup> + 4x</li>
        <li>b) u(x) = (x<sup>3</sup> + 2x)(x<sup>2</sup> − 2x<sup>4</sup>), w(x) = (m + 1)x<sup>7</sup> + (2n − 1)x<sup>5</sup> + 2x<sup>3</sup></li>
    </ul>

    <h3>Zadanie 3.</h3>
    <p>Wyznacz wielomiany f(x) = u(x) ∗ w(x) oraz g(x) = 2w(x) − [u(x)]<sup>2</sup>.</p>
    <ul>
        <li>a) u(x) = x<sup>2</sup> − 5x, w(x) = x<sup>3</sup> + x<sup>2</sup> + 2</li>
        <li>b) u(x) = −2x<sup>3</sup> + 2x<sup>2</sup> − x + 1, w(x) = 4x<sup>2</sup> − x + 2</li>
    </ul>

    <h2> Rozkład wielomianów na czynniki</h2>
    <h3>Zadanie 4</h3>
    <p>Rozłóż wielomiany na czynniki.</p>
    <ul>
        <li>a) w(x) = (x<sup>3</sup> + x<sup>2</sup> − 2x)(x<sup>3</sup> + 2x<sup>2</sup> − 15x)</li>
        <li>b) w(x) = (x<sup>4</sup> + x<sup>3</sup> − 6x<sup>2</sup>)(x<sup>5</sup> + 2x<sup>4</sup> + 3x<sup>3</sup>)</li>
        <li>c) w(x) = (x<sup>3</sup> − 3x<sup>2</sup> + 2x)(x<sup>2</sup> + 4x + 1)</li>
        <li>d) w(x) = (3x<sup>4</sup> − 2x<sup>3</sup> + <sup>1</sup>/<sub>3</sub>x<sup>2</sup>)(x<sup>6</sup> − 1)</li>
        <li>e) w(x) = <sup>1</sup>/<sub>2</sub>x<sup>3</sup> − <sup>1</sup>/<sub>6</sub>x<sup>2</sup> − 3x + 1</li>
        <li>f) w(x) = x<sup>3</sup> − √2x<sup>2</sup> + √2x − 2</li>
        <li>g) w(x) = 25𝑥<sup>4</sup> − (10 − 3𝑥<sup>2</sup>)<sup>2</sup></li>
        <li>h) w(x) = 𝑥<sup>9</sup> − 𝑥<sup>7</sup> − 𝑥<sup>3</sup> + 𝑥</li>
    </ul>

    <h3>Zadanie 5.</h3>
    <p>Wielomian w(x) = (𝑥<sup>2</sup> − 1)(2𝑥 + 3) − (1 − 𝑥)(𝑥 + 1)<sup>2</sup> − (𝑥<sup>3</sup> − 𝑥)(3𝑥 + 2)
    Zapisano w postaci w(x) = (𝑥<sup>2</sup> − 1) ∗ p(𝑥). Wskaż wielomian p(x).</p>

    <h2>Równania wielomianowe</h2>
    <h3>Zadanie 6.</h3>
    <p>Rozwiąż równania:</p>
    <ul>
        <li>a) 𝑥<sup>6</sup> − 25𝑥<sup>2</sup> = 0</li>
        <li>b) 𝑥<sup>5</sup> + 4𝑥<sup>4</sup> = 12𝑥<sup>3</sup></li>
        <li>c) 3𝑥<sup>5</sup> = 𝑥<sup>7</sup> + 3𝑥<sup>6</sup> − 6</li>
    </ul>

    <h3>Zadanie 7.</h3>
    <p>Wyznacz punkty wspólne wykresu wielomianu w i prostej l:</p>
    <ul>
        <li>a) w(x) = 4𝑥<sup>3</sup> − 𝑥<sup>2</sup> − 5𝑥 + 3, l: y = 3x + 1</li>
        <li>b) w(x) = 𝑥<sup>5</sup> − 4𝑥<sup>4</sup> + 3𝑥<sup>3</sup> + 𝑥<sup>2</sup>, l: y = 4x − 3</li>
    </ul>

    <h2>Dzielenie wielomianów</h2>
    
    <h3>Zadanie 8.</h3>
    <p> Wykonaj dzielenie wielomianu w przez dwumian q. Czy wielomian w jest podzielny przez dwumian q?</p>
    <ul>
        <li>a) w(x) = 4𝑥<sup>3</sup> + 8𝑥<sup>2</sup> + 4𝑥 − 9, q(x) = 𝑥 + 3</li>
        <li>b) w(x) = 2𝑥<sup>3</sup> − 𝑥<sup>2</sup> + 3𝑥 − 4, q(x) = 𝑥 − 1</li>
    </ul>

    <h3>Zadanie 9.</h3>
    <p> Podziel wielomian w przez wielomian q z resztą r. Zapisz wielomian w w postaci  w(x) = 𝑝(𝑥) ∗ q(x) + r(x).</p>
    <ul>
        <li>a) w(x) = 6𝑥<sup>4</sup> − 𝑥<sup>2</sup> + 5𝑥 − 3, q(x) = 3𝑥<sup>2</sup> + 1</li>
        <li>b) w(x) = 4𝑥<sup>4</sup> − 2𝑥<sup>3</sup> − 𝑥, q(x) = 2𝑥<sup>2</sup> + 𝑥 − 2</li>
    </ul>

    <h3>Zadanie 10.</h3> 
    <p>Dla jakich wartości parametrów m i n wielomian w jest podzielny przez wielomian u?</p>
    <ul>
        <li>a) w(x) = 𝑥<sup>3</sup> + 6𝑥<sup>2</sup> + 3𝑥 + m, u(x) = 𝑥<sup>2</sup> + 2𝑥 + n</li>
        <li>b) w(x) = −9𝑥<sup>3</sup> + 3𝑥<sup>2</sup> + mx + 1, u(x) = 3𝑥<sup>2</sup> − nx + 1</li>
    </ul>

    <h2>Zadania dodatkowe</h2>
    <h3>Zadanie 11.</h3>
    <p>Oblicz resztę z dzielenia wielomianu w przez dwumian q, nie wykonując dzielenia.</p>
    <ul>
        <li>a) w(x) = 𝑥<sup>4</sup> − 5𝑥<sup>2</sup> + 7, q(x) = 𝑥 + 2</li>
        <li>b) w(x) = 27𝑥<sup>3</sup> − 3𝑥<sup>2</sup> + 4, q(x) = 3𝑥 − 1</li>
    </ul>

    <h3>Zadanie 12.</h3>
    <p>Niech w(x) = 𝑥<sup>5</sup> + 𝑎𝑥<sup>4</sup> + 𝑏𝑥<sup>3</sup> + 15𝑥<sup>2</sup> + 𝑐𝑥 − 12, u(x) = (𝑥<sup>2</sup> − 1)(𝑥 − 2). Wyznacz wartości parametrów: a, b, c, dla których wielomian w jest podzielny przez u. Rozłóż wielomian w na czynniki i oblicz jego pierwiastki.</p>

    <h3>Zadanie 13.</h3>
    <p>Rozwiąż równania:</p>
    <ul>
        <li>a) 3𝑥<sup>3</sup> − 𝑥 = 12 − 10𝑥<sup>2</sup></li>
        <li>b) 5𝑥<sup>3</sup> − 19𝑥<sup>2</sup> = 38𝑥 − 40</li>
        <li>c) 5𝑥<sup>5</sup> + <sup>4</sup>/<sub>5</sub>𝑥<sup>3</sup> − <sup>1</sup>/<sub>5</sub>𝑥<sup>2</sup> = 0</li>
    </ul>

    <h3>Zadanie 14.</h3>
    <p>Dany jest wielomian w(x) = 2x<sup>3</sup> + ax<sup>2</sup> − (a<sup>2</sup> + 1)x + 1 . Dla jakiej całkowitej wartości parametru a ma on dwa różne pierwiastki całkowite?</p>

</body>

</html>
