<!DOCTYPE html>
<html lang=”pl”>
<head>
    <link rel="stylesheet" type="text/css" href="../static/projekt.css">
<meta charset=”utf-8”>
<title>
    Wszystko o wielomianach
</title>
</head>

<body>
    <header><a href="home">Wszystko o wielomianach</a></header>

    <div>
        <nav>
            <ul>
                <li><a href="about">O projekcie</a></li>
                <li><a href="authors">O autorach</a></li>
                <li><a href="theory">Wielomiany</a>
                <ul>
                    <li><a href="theory">Teoria</a></li>
                    <li><a href="examples">Zadania</a></li>
                </ul>
                </li>
                <li><a href="plots">Generator</a></li>
            </ul>
        </nav>
    </div>
<div class="intro">
    <h1>
        Cześć
    </h1>
    <p1>
        Jesteś pasjonatem matematyki? A może potrzebujesz pomocy w nauce do egzaminu maturalnego? 
        Albo po prostu szukasz ciekawostek? Niezależnie od powodu Twojej wizyty witamy w świecie wielomianów!
        Czego możesz się tutaj dowiedzieć?
        <ul class="my-type">
            <li>Czym właściwie są wielomiany</li>
            <li>Jak poradzić sobie z różnymi operacjami na wielomianach</li>
            <li>Jak rozwiązywać równania wielomianowe</li>
            <li>Jak czytać i rysować wykresy</li>
        </ul> 
        A to nie wszystko. Znajdziesz również wiele zadań, które pozwolą Ci jeszcze lepiej zrozumieć temat.
        Staniesz się prawdziwym ekspertem od wielomianów! 
    </p1>
</div>
</body>



